
.about-header {
    text-align: left;
    padding-top: 30px;
    text-decoration: underline;
    text-transform: uppercase;
}

.about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        line-height: 1.1rem;
        p {
            margin: 10px 0;
        }
}

