
.about-header {
    text-align: left;
    padding-top: 30px;
    span {
        display: block;
        padding: 10px 0;
        font-size: clamp(0.8rem, 3.5vw, 1.1rem);
    }
}

.about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        p {
            margin: 10px 0;
        }
}

