
html {
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    color: #2f373f;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

h2 {
    font-size: clamp(.9rem, 3.5vw, 1.5rem);
}

h3 {
    font-size: clamp(0.75rem, 3vw, 1rem);
    font-weight: 400;
}

p {
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    font-weight: 300;
}

nav ul a,
footer p a, 
fieldset {
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #2f373f;
    position: relative;
}

.about-text a {
    color: #2f373f;
    position: relative;
}

nav ul a::before,
footer p span a::before, 
.about-text a::before,
.rep p a::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 1px;
    width: 0px;
    height: 1px;
    background: #2f373f none repeat scroll;
    transition: width .6s ease;
}

nav ul a:hover::before, 
nav ul a:focus::before,
.rep p a:hover::before,
.rep p a:focus::before,
footer p span a:hover::before, 
footer p span a:focus::before, 
.about-text a:hover::before, 
.about-text a:focus::before {
    width: 100%;
}
