

html {
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    color: #2f373f;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
    &:focus {
        outline: none;
    }
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
}

h2 {
    font-size: clamp(.9rem, 3.5vw, 1.5rem);
}

p {
    font-size: clamp(0.8rem, 1vw, 0.9rem);
    font-weight: 300;
}

nav ul a,
footer p a {
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #2f373f;
    position: relative;
}

nav ul a::before,
footer p a::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 1px;
    width: 0px;
    height: 1px;
    background: #2f373f none repeat scroll;
    transition: width .6s ease;
}

nav ul a:hover::before, 
nav ul a:focus::before,
footer p a:hover::before, 
footer p a:focus::before {
    width: 100%;
}

button {
    display: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    font-size: 1.8rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 10;
    color: #2f373f;
    transition: 0.3s ease all;
    &:active {
        transform: scale(.8);
    }
}