.contact-header {
    margin: 40px 0;
    text-transform: capitalize;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    .contact {
        width: 50%;
    }
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    margin: 0;
    input,
    textarea {
        border: none;
        border-bottom: 1px solid #2f373f;
        text-align: start;
        padding: 10px 0;
    }
    :focus {
        outline: none;
    }
}

input {
    width: 60%;
}

textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin: 20px 0;
}

button.submit {
    cursor: pointer;
    border: none;
    border-bottom: #2f373f 1px solid;
    color: #2f373f;
    background-color: transparent;
    padding-bottom: 8px;
    transition: 0.3s ease-in all;
    &:hover,
    &:focus {
        transform:translateY(5px);
        letter-spacing: 1.5px;
        color: black;
    }
}

.contact-image-icons {
    position: relative;
    margin: 0 auto;
    .icons {
        position: absolute;
        top: 5%;
        right: 10%;
    }
}

.icons ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    li {
        transition: .3s ease all;
        opacity: 0.8;
        margin-bottom: 75px;
        :active {
            transform: scale(0.9);
        }
        &:hover,
        &:focus {
            opacity: 1;
            scale: (1.1);
        }
        a {
            font-size: clamp(2rem, 5vw, 2.6rem);
            color: #c4c7c8;
            transition: .3s ease all;
        }
    }
}