footer p {
    margin: 100px 0 20px;
    font-size: 0.6rem;
    a {
        font-size: 0.6rem;
        display: inline-block;
    }
    a::before {
            opacity: 0.8;
            bottom: -1px;
        }
}
