footer p {
    margin: 100px 0 20px;
    font-size: 0.6rem;
    a {
        font-size: 0.6rem;
        display: inline-block;
    }
    a::before {
            opacity: 0.8;
            bottom: -1px;
        }
}

.btn {
    display: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 10;
    color: #2f373f;
    transition: 0.3s ease all;
    &:active {
        transform: scale(.8);
    }
}