
.h1-container {
    display: flex; 
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: clamp(1.2rem, 5vw, 2.8rem);
    text-transform: uppercase;
    font-weight: 400;
    margin: 25px 0;
    letter-spacing: 0.5rem;
    background: linear-gradient(to right, rgba(47, 55, 63, 1), rgba(47, 55, 63, .35) 110%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 117%;
    width: 90%;
    transform: translate(-50%, -50%);
    left: 50%;
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(47, 55, 63, 1), rgba(47, 55, 63, .35) 110%);
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    text-transform: uppercase;
    li {
        padding: 0 15px;
    }
}
