
.h1-container {
    display: flex; 
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: clamp(1.2rem, 5vw, 3.5rem);
    text-transform: uppercase;
    font-weight: 400;
    margin: 40px 0 10px;
    letter-spacing: 0.5rem;
    background: linear-gradient(to right, rgba(47, 55, 63, 1), rgba(47, 55, 63, .35));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(47, 55, 63, 1), rgba(47, 55, 63, .35));
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    text-transform: uppercase;
}

a {
    font-size: clamp(0.8rem, 2vw, 1rem);
    color: #2f373f;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 1px;
    width: 0px;
    height: 1px;
    background: #2f373f none repeat scroll;
    transition: width .6s ease;
}

a:hover::before, 
a:focus::before {
    width: 100%;
}