.home-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-text {
    padding: 20px;
    h2 {
        font-size: clamp(1rem, 3vw, 2rem);
        font-weight: 300;
        margin: 15px 0 0;
    }
}

.home-image {
    position: relative;
}

.tagline {
    position: absolute;
    top: 10%;
    left: 20%;
    background-color: transparent;
    width: 295px;
    padding: 5px;
    text-align: left;
}

.input-cursor {
    display: inline-block;
    width: 1px;
    height: 0.8rem;
    background-color: #2f373f;
    margin-left: -2.5px;
    animation: blink .6s linear infinite alternate;
    animation-delay: 5.3s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
