
.home-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;

}

.home-image{
    width: 65%;
    img {
    border: none;
    border-radius: 60px 20px;
    }
}

.home-text {
    background: linear-gradient(to right, rgba(47,55,63,0.7), rgba(47,55,63,1) 45%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: absolute;
    width: 45%;
    left: 0;
    top: 30%;
    border: none;
    border-radius: 10px 60px;
    opacity: 0.95;
    h2 {
        font-size: clamp(1rem, 4vw, 2.2rem);
        font-weight: 300;
        margin: 15px 0 0;
    }
}

