
@media ( max-width: 1280px){
    nav ul {
        margin: 20px 0 5px;
    }

    .home-text {
        padding-top: 10px;
    }

    .icons ul li {
        margin-bottom: 20px;
    }

    input {
        width: 100%;
    }
}

@media ( max-width: 800px ){

    .wrapper {
        width: 90%;
    }

    .home-text {
        padding-top: 0;
    }

    .home-image {
        width: 100%;
    }

    .about-flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-text {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
    }

    .project {
        width: 100%;
        border-bottom: 1px solid rgba(47, 55, 63, 0.6);
        margin-bottom: 60px;
    }

    .project-text {
        width: 100%;
    }

    .btn {
        right: 10px;
        font-size: 1.3rem;
    }

    .contact-section {
        flex-direction: column-reverse;
        .contact {
        width: 100%;
        }
    .icons ul li {
        margin-bottom: 10px;
        }
    }

    fieldset {
        padding-left: 20px;
    }

}

@media ( max-width: 650px ){
    .tagline {
        width: 175px;
    }

    .project-header {
        margin: 30px 0;
    }

    .btn {
        right: 2px;
    }

}

@media ( max-width: 500px ){

    nav ul {
        margin: 0px;
    }

    h1 {
        transition: 0.3s ease all;
        letter-spacing: 0.3rem;
    }

    .project {
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
    
    .contact-header {
        margin: 30px 0;
    }


    fieldset {
        padding: 0;
    }

}

@media ( max-width: 400px ) {

    h1 {
        letter-spacing: 0.25rem;
    }

    .tagline {
        width: 135px;
        font-weight: 400;
    }

    .btn {
        right: -1px;
        font-size: 1.1rem;
    }

    footer p {
        transition: 0.3s ease all;
        margin-top: 180px;
    }

    nav ul li {
        padding: 0 4px;
    }

}