

@media ( max-width: 800px ){

    .wrapper {
        width: 90%;
    }

    .home-text {
        padding-top: 0;
        h2 {
            margin-top: 0;
        }
    }

    .home-image {
        width: 100%;
    }

    .about-flex-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .about-text {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
    }

    .project {
        width: 100%;
        border-bottom: 1px solid rgba(47, 55, 63, 0.6);
        margin-bottom: 60px;
    }

    .project-text {
        width: 100%;
    }

    .btn {
        right: 10px;
        font-size: 1.3rem;
    }

    .form-inputs {
        flex-direction: column;
        input {
            width: 100%;
        }   
    }

    .contact-flex-container {
        width: 80%;
    }
}


@media ( max-width: 500px ){

    h1 {
        transition: 0.3s ease all;
        letter-spacing: 0.12rem;
    }

    .tagline {
        left: 5%;
        top: 5%;
    }

    textarea {
        height: 100px;
        margin: 10px 0;
    }

    .contact-icons ul li {
        margin-bottom: 20px;
    }

    .contact-flex-container {
        width: 100%;
    }

}

@media ( max-width: 400px ) {
    footer p {
        transition: 0.3s ease all;
        margin-top: 180px;
    }

    nav ul li {
        padding: 0 4px;
    }

    .project-header:last-child {
        margin-top: 5px;
    }

}