html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  color: #2f373f;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

h2 {
  font-size: clamp(0.9rem, 3.5vw, 1.5rem);
}

p {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  font-weight: 300;
}

nav ul a,
footer p a {
  font-size: clamp(0.8rem, 2vw, 1rem);
  color: #2f373f;
  position: relative;
}

nav ul a::before,
footer p a::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 1px;
  width: 0px;
  height: 1px;
  background: #2f373f none repeat scroll;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

nav ul a:hover::before,
nav ul a:focus::before,
footer p a:hover::before,
footer p a:focus::before {
  width: 100%;
}

.h1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: clamp(1.2rem, 5vw, 3.5rem);
  text-transform: uppercase;
  font-weight: 400;
  margin: 40px 0 10px;
  letter-spacing: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(47, 55, 63)), to(rgba(47, 55, 63, 0.35)));
  background: linear-gradient(to right, rgb(47, 55, 63), rgba(47, 55, 63, 0.35));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(47, 55, 63)), to(rgba(47, 55, 63, 0.35)));
  background: linear-gradient(to right, rgb(47, 55, 63), rgba(47, 55, 63, 0.35));
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px 0;
  text-transform: uppercase;
}

.home-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home-image {
  width: 65%;
}
.home-image img {
  border: none;
  border-radius: 60px 20px;
}

.home-text {
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 55, 63, 0.7)), color-stop(45%, rgb(47, 55, 63)));
  background: linear-gradient(to right, rgba(47, 55, 63, 0.7), rgb(47, 55, 63) 45%);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  position: absolute;
  width: 45%;
  left: 0;
  top: 30%;
  border: none;
  border-radius: 10px 60px;
  opacity: 0.95;
}
.home-text h2 {
  font-size: clamp(1rem, 4vw, 2.2rem);
  font-weight: 300;
  margin: 15px 0 0;
}

.about-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-flex-container .about-text {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-left: 40px;
}
.about-flex-container .about-text h2 {
  opacity: 0.85;
}
.about-flex-container .about-text p {
  margin: 10px 0;
}
.about-flex-container .about-image {
  width: 30%;
}

.project-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-header {
  margin: 60px auto;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(47, 55, 63)), to(rgba(47, 55, 63, 0.35)));
  background: linear-gradient(to right, rgb(47, 55, 63), rgba(47, 55, 63, 0.35));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.project-header::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, right top, from(rgb(47, 55, 63)), to(rgba(47, 55, 63, 0.35)));
  background: linear-gradient(to right, rgb(47, 55, 63), rgba(47, 55, 63, 0.35));
}

.current a,
.project-text a {
  font-weight: 400;
  text-decoration: underline;
}

.current {
  text-align: left;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(47, 55, 63, 0.6);
}

.current-reverse {
  text-align: right;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(47, 55, 63, 0.6);
}
.project .project-image {
  width: 80%;
}
.project .project-text {
  margin-right: 40px;
  text-align: left;
}
.project .project-text h2 {
  margin-top: 0;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.reverse .project-text {
  margin-right: 0;
  margin-left: 40px;
  text-align: right;
}

.contact-text {
  margin-top: 80px;
}

.contact-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-icons ul li {
  padding: 0 25px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  opacity: 0.8;
}
.contact-icons ul li :active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.contact-icons ul li:hover, .contact-icons ul li:focus {
  opacity: 1;
  scale: 1.1;
}
.contact-icons ul li a {
  font-size: 2.6rem;
  color: #2f373f;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

footer p {
  margin: 100px 0 20px;
  font-size: 0.6rem;
}
footer p a {
  font-size: 0.6rem;
  display: inline-block;
}
footer p a::before {
  opacity: 0.8;
  bottom: -1px;
}